* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cad2c5;
  font-size: 14px;
  font-family: "Calibri", "Arial", sans-serif;
  color: #252525;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #1b5f6e;
}

a:hover {
  text-decoration: underline;
  transition: all 0.3s;
}

h1 {
  font-size: 2.5em;
}

header {
  border-bottom: 2px solid #11353725;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.2em;
}

.navBtn {
  display: block;
  width: 90%;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid #1b5f6e;
  margin-bottom: 10px;
  color: #1b5f6e;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
}

.navBtn:first-child {
  margin-top: 10px;
}

.navBtn:hover {
  background-color: #1b5f6e;
  color: #cad2c5;
  transition: all 0.3s;
}

.navBtn:active {
  background-color: #113537;
  border: 2px solid #113537;
  color: #cad2c5;
  transition: all 0.3s;
}

.navSelected {
  background-color: #113537 !important;
  border: 2px solid #113537 !important;
  color: #cad2c5;
  transition: all 0.3s;
}

#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#imageContainer {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#imageContainer > img {
  width: 100%;
  height: auto;
  border-radius: 150px;
  border: 2px solid #113537;
  box-shadow: 0px 0px 10px 5px #11353725;
}

#presentationContainer {
  margin-top: 20px;
  width: 90%;
  padding: 15px 10px;
  border-radius: 15px;
  background-color: #10501025;
}

#presentationContainer h1 {
  color: #113537;
}

#presentationContainer p {
  font-size: 1.2em;
  margin-top: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 15px 10px;
  background-color: #113537;
  color: #cad2c5;
}

footer p:first-child {
  margin-right: auto;
}

.socialMediaBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socialMediaBtn img {
  height: 25px;
  width: auto;
  margin-left: 10px;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  nav {
    flex-direction: row;
  }

  .navBtn {
    width: 250px;
    margin: 20px 10px;
  }

  .navBtn:first-child {
    margin-top: 20px;
  }
}
